nick = 'markbot'
host = 'irc.freenode.net'
channels = ['#rhnoise']
owner = 'loxodes'

# password is the NickServ password, serverpass is the server password
# password = 'example'
# serverpass = 'serverpass'

# These are people who will be able to use admin.py's functions...
admins = [owner, 'kleinjt']
# But admin.py is disabled by default, as follows:
exclude = ['admin']

# If you want to enumerate a list of modules rather than disabling
# some, use "enable = ['example']", which takes precedent over exclude
# 
enable = ['admin', 'reload', 'ping', 'startup', 'marky']

# Directories to load user modules from
# e.g. /path/to/my/modules
extra = []

# Services to load: maps channel names to white or black lists
external = { 
   '*': ['!'] # default whitelist, allow all
}

# EOF

